{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<header>
    <div class="logo"><h1><a href="/">Balancer</a></h1></div>
</header>
<div class="buttons">
    <div class="container">
        <div class="row">
            <button id="btn-add-process" class="btn btn-secondary btn-lg btn-block">
                <span class="btn-text text-default">Добавить процесс</span>
            </button> 
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <button id="btn-add-work-car" class="btn btn-secondary btn-lg btn-block">
                <span class="btn-text text-default">Добавить машину</span>
            </button> 
        </div>
    </div>
</div>
<div style="position: fixed;">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название машины</th>
            <th scope="col">Кол-во процессора</th>
            <th scope="col">Кол-во ядер</th>
            <th scope="col">Кол-во памяти</th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
                <th scope="row">{{work.id}}</th>
                <td style="width: 200px;"><a href="{{ path('carpressed', {'id' :work.id})}}">{{work.name}}</a></td>
                <td>{{work.countProcess}}</td>
                <td>{{work.nucleus}}</td>
                <td>{{work.memory}}</td>
                <td style="width: 200px;"><a href="{{ path('removeWork', {'id' :work.id})}}">удалить</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'form_add.html.twig' %}
{% endblock %}